# Visual Studio solution user options
*.suo
*.csproj.user

#aptana project files
.project

# Resharper cache and user options
_ReSharper.*
*.ReSharper.user

# Visual Studio Productivity Tools "tab well" cache
*.sln.docstates

# Monodevelop user prefs
Smarties.userprefs

# Debugging database
*.pidb

# VIM temporary files
*~
*.swp

# ctags index
tags

# Compiled Python scripts
*.pyc

# Build artefacts
obj/
bin/
/build/
/build*/
/debian/usr
debian/usr
*.debhelper.log
/scripts/gtk-sharp/debian/ohgtksharp/
/scripts/gtk-sharp/debian/files
/scripts/mono/run/debian/ohmono/
/scripts/mono/dev/debian/ohmono-dev/
/scripts/mono/*/debian/files
mono-2.11.*/
gtk-sharp-2.12.*/
scripts/oh-sheeva-setup/debian/oh-sheeva-setup
scripts/oh-sheeva-setup/debian/files
scripts/oh-sheeva-setup/debian/oh-sheeva-setup.substvars

# Waf temporaries
/.lock-waf*
/waf-*-*
/.waf-*-*

# Dependencies
/dependencies/

# NUnit output
TestResult.xml
