.circleG-loader{
width:70px;
}

.circleG{
background-color:#FFFFFF;
float:left;
height:15px;
margin-left:8px;
width:15px;
-webkit-animation-name:bounce_circleG;
-webkit-border-radius:10px;
-webkit-animation-duration:0.75s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circleG;
-moz-border-radius:10px;
-moz-animation-duration:0.75s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
opacity:0.3}

.circleG_1{
-webkit-animation-delay:0.15000000000000002s;
-moz-animation-delay:0.15000000000000002s}

.circleG_2{
-webkit-animation-delay:0.35000000000000003s;
-moz-animation-delay:0.35000000000000003s}

.circleG_3{
-webkit-animation-delay:0.45s;
-moz-animation-delay:0.45s}

@-webkit-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#7DABF0}

100%{
opacity:0.3}

}

@-moz-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#7DABF0}

100%{
opacity:0.3}

}