.ohmodal
{
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	background-color:#E6E6E6;

}
.ohmodal-header {
	height: 30px;
	padding:15px 20px 15px 20px;
	border-bottom: 1px solid #EEE;
	font-size: 20px;
	line-height: 25px;
	color: #404040;
	text-align:left;
}

.ohmodal-content {
    padding: 20px;
	background-color:#FFF;
}

.ohmodal-footer {
	 text-align:right;
	 padding: 10px 40px 10px 20px;
	 float:right;
}
