Source: ohos
Section: admin
Priority: extra
Maintainer: root <webmaster@openhome.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://openhome.org/
#Vcs-Git: git://
#Vcs-Browser: http://

Package: ohos
Architecture: any
Depends: ${misc:Depends}, ohmono (>= 2.10.6-2) | mono-runtime (>= 2.10.5-1)
Description: Operating system customisations for openhome use

Package: ohos-distro
Architecture: any
Depends: ${misc:Depends}, ohmono (>= 2.10.6-2) | mono-runtime (>= 2.10.5-1), ohos-core (= ${source:Version}), ohos-appmanager (= ${source:Version})
Description: Preselects openhome apps for installation

Package: ohos-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ohmono (>= 2.10.6-2) | mono-runtime (>= 2.10.5-1)
Breaks: ohwidget
Description: Openhome server for hosting home apps

Package: ohos-appmanager
Architecture: any
Depends: ${misc:Depends}, ohmono (>= 2.10.6-2) | mono-runtime (>= 2.10.5-1), ohos-core (= ${source:Version})
Description: Openhome app for managing other apps
