<packages>
  <package id="Firefly" version="0.4" />
  <package id="Gate" version="0.3.6" />
  <package id="Gate.Hosts.Firefly" version="0.3.6" />
  <package id="Kayak" version="0.7.2" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="Owin" version="0.7" />
</packages>
