@-webkit-keyframes ohprogressbar-animate-stripes {
  from {
    background-position: 0 0;
  }
  to {
   background-position: 44px 0;
  }
}      

.ohprogressbar {
  position: relative;
  height: 12px;
  padding-right: 2px;
  padding-top:1px;
  background-color: #abb2bc;
  border-radius: 35px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  background-color:#EEE;
  -webkit-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  -moz-box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.5), 0px 1px 0px 0px #FFF;
}        

.ohprogressbar-progress {
  position: relative;
  display: block;
  height: 12px;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -webkit-background-size: 44px 40px;
  background-color: #74d04c;
  background: -webkit-gradient(linear, 0 0, 44 44,
    color-stop(0.00, rgba(255,255,255,0.17)),
    color-stop(0.25, rgba(255,255,255,0.17)),
    color-stop(0.26, rgba(255,255,255,0)),
    color-stop(0.50, rgba(255,255,255,0)),
    color-stop(0.51, rgba(255,255,255,0.17)),
    color-stop(0.75, rgba(255,255,255,0.17)),
    color-stop(0.76, rgba(255,255,255,0)),
    color-stop(1.00, rgba(255,255,255,0))
  ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #F1B44A), color-stop(1, #F1B44A));
  background: -moz-repeating-linear-gradient(top left -30deg,
    rgba(255,255,255,0.17),
    rgba(255,255,255,0.17) 15px,
    rgba(255,255,255,0) 15px,
    rgba(255,255,255,0) 30px
  ), 
  border: 1px solid #F1B44A;
  -webkit-animation: ohprogressbar-animate-stripes 2s linear infinite;
}

.circleG-loader{
width:70px;
}

.circleG{
background-color:#FFFFFF;
float:left;
height:15px;
margin-left:8px;
width:15px;
-webkit-animation-name:bounce_circleG;
-webkit-border-radius:10px;
-webkit-animation-duration:0.75s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-moz-animation-name:bounce_circleG;
-moz-border-radius:10px;
-moz-animation-duration:0.75s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
opacity:0.3}

.circleG_1{
-webkit-animation-delay:0.15000000000000002s;
-moz-animation-delay:0.15000000000000002s}

.circleG_2{
-webkit-animation-delay:0.35000000000000003s;
-moz-animation-delay:0.35000000000000003s}

.circleG_3{
-webkit-animation-delay:0.45s;
-moz-animation-delay:0.45s}

@-webkit-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#546370}

100%{
opacity:0.3}

}

@-moz-keyframes bounce_circleG{
0%{
opacity:0.3}

50%{
opacity:1;
background-color:#546370}

100%{
opacity:0.3}

}

.ohloader-splash
{
}